worlds["Welt 1"] = "C:/Users/sebastian.schmidt/Projekte/Privat/Minecraft-Server/welt-1"

renders["normalrender"] = {
    "world": "Welt 1 (2021-11-06 19:32 Uhr)",
    "title": "Welt 1",
	"rendermode": smooth_lighting,
	"dimension": "overworld"
}

texturepath = ""
outputdir = "C:/Users/sebastian.schmidt/Projekte/Privat/Minecraft-Server/map-1-overworld"
